#header {
  background: $color-black;
}

#mainbody {
  margin-top: 91px;
}

.full-mainbox {
  position: relative;
}
#mainbox-1 {
  padding: 120px 0 160px;
}

#mainbox-2 {
  padding: 60px 0 30px;
}

.text-blue {
  font-size: 20px;
  color: $color-blue;
  font-weight:700;
}

.text-black {
  font-size: 20px;
  color: $color-black;
  font-weight: 900;
}

.text-cross {
  color: $color-grey;
  text-decoration: line-through;
  position: relative;
  margin: 0px 7px;
  padding: 0px 7px;
  &:before {
    content: "";
    width: 2px;
    height: 13px;
    background-color: $color-grey;
    position: absolute;
    top: 0px;
    margin-top: 5px;
    left: 0px;
    transform: rotate(25deg);

  }
}

.padding-0 {
  padding: 0px;
}

.btn {
  background-color: transparent;
  border: 2px solid $color-grey;
  color: $color-grey;
  border-radius: 0px;
  transition: 0.4s;
  &:hover {
    color: $color-grey;
    background-color: $color-black;
    border: 2px solid $color-black;
  }
}

.btn-black {
  background-color: $color-black;
  border: 2px solid $color-black;
  &:hover {
    background-color: #cecece;
    color: $color-black;
  }
}

.btn-slide {
  background-color: #cecece;
  border: 2px solid #cecece;
  color: $color-black;
  &:hover {
    background-color: transparent;
  }
}

.btn-icon {
  color: $color-grey;
  border: none;
  &:hover {
    color: $color-blue;
    border: none;
    background-color: transparent;
  }

  .btn-icon-l, .btn-icon-r{
    margin-left: -10px;
  }
}

.main-title {
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: $color-blue;
  padding-top: 20px;
}

.main-title-btn {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: $color-grey;
  padding-bottom: 20px;
  i {
    &:hover {
      color: $color-blue;
      cursor: pointer;
    }
  }
}

.main-title-btn-news {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.main-title-otherproduct {
  font-size: 18px;
  color: $color-black;
  padding-top: 50px;
  font-weight: 700;
}

.main-title-news {
  font-size: 26px;
  color: $color-black;
  padding: 15px 0px 15px 0px;
  font-weight: 700;
}
.product-btn {
  text-align: center;
  font-size: 10px;
  color: $color-grey;
  margin-bottom: -4px;
  a {
    border-bottom: 1px solid transparent;
    padding: 7px 0px;
    line-height: 10px;
    &:hover {
    color: $color-blue;
    border-bottom: 1px solid $color-blue;
    padding: 7px 0px;
    }
  }

  i {
    margin: 0px 15px;
    }
}

.main-title-hotproduct {
  padding: 77px 0px;
  position: relative;
  color: $color-black;
  font-size: 48px;
  font-weight: 200;
}

.main-title-feedback {
  padding: 40px 0px 13px 0px;
  color: white;
  font-size: 30px;
  z-index: 11;
}

.footer-tab-title {
  color: $color-blue;
  position: relative;
  font-size: 18px;
  &:after {
    position: absolute;
    top:40px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-grey;
    left: 50%;
    transform: translateX(-50%);
  }
  &:before {
    position: absolute;
    z-index: 10;
    top:40px;
    content: "";
    height: 2px;
    background-color: $color-blue;
    left: 0%;
  }
}
.footer-tab-title1 {
  &:before {
    width: 74%;
  }
}
.footer-tab-title2 {
  &:before {
    width: 39%;
  }
}
.footer-tab-title3 {
  &:before {
    width: 55%;
  }
}
.footer-tab-title4 {
  &:before {
    width: 67%;
  }
}

