/* line 1, _base.scss */
body {
  margin: 0;
  padding: 0;
  color: #000000; }

/* line 7, _base.scss */
body * {
  box-sizing: border-box; }

/* line 11, _base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

/* line 15, _base.scss */
img {
  max-width: 100%; }

/* line 18, _base.scss */
a {
  color: #000000; }
  /* line 20, _base.scss */
  a:hover, a:focus {
    text-decoration: none; }

/* line 25, _base.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 30, _base.scss */
input {
  outline: none; }

/* line 34, _base.scss */
em {
  color: #24c5d9; }

/* line 38, _base.scss */
textarea {
  resize: none;
  outline: none; }

/* line 1, _layout.scss */
#header {
  background: #000000; }

/* line 5, _layout.scss */
#mainbody {
  margin-top: 91px; }

/* line 9, _layout.scss */
.full-mainbox {
  position: relative; }

/* line 12, _layout.scss */
#mainbox-1 {
  padding: 120px 0 160px; }

/* line 16, _layout.scss */
#mainbox-2 {
  padding: 60px 0 30px; }

/* line 20, _layout.scss */
.text-blue {
  font-size: 20px;
  color: #24c5d9; }

/* line 25, _layout.scss */
.text-black {
  font-size: 20px;
  color: #000000;
  font-weight: 900; }

/* line 31, _layout.scss */
.text-cross {
  color: #7b7b7b;
  text-decoration: line-through; }

/* line 36, _layout.scss */
.padding-0 {
  padding: 0px; }

/* line 40, _layout.scss */
.btn {
  background-color: transparent;
  border: 2px solid #7b7b7b;
  color: #7b7b7b;
  border-radius: 0px; }

/* line 48, _layout.scss */
.btn-black {
  background-color: #000000;
  border: 2px solid #000000; }

/* line 53, _layout.scss */
.main-title {
  text-align: center;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  color: #24c5d9;
  padding-top: 20px; }

/* line 63, _layout.scss */
.main-title-btn {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #7b7b7b;
  padding-bottom: 20px; }
  /* line 70, _layout.scss */
  .main-title-btn i:hover {
    color: #24c5d9;
    cursor: pointer; }

/* line 77, _layout.scss */
.main-title-btn-news {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; }

/* line 84, _layout.scss */
.main-title-otherproduct {
  font-size: 20px;
  color: #000000;
  padding-top: 50px; }

/* line 90, _layout.scss */
.main-title-news {
  font-size: 25px;
  color: #000000;
  padding: 15px 0px 15px 0px; }

/* line 95, _layout.scss */
.product-btn {
  text-align: center;
  font-size: 10px;
  color: #7b7b7b; }
  /* line 99, _layout.scss */
  .product-btn a {
    line-height: 10px; }
    /* line 101, _layout.scss */
    .product-btn a:hover {
      color: #24c5d9; }
  /* line 106, _layout.scss */
  .product-btn i {
    margin: 0px 15px; }

/* line 111, _layout.scss */
.main-title-hotproduct {
  padding: 77px 0px;
  position: relative;
  color: #000000;
  font-size: 30px;
  font-weight: 200; }

/* line 119, _layout.scss */
.main-title-feedback {
  padding: 40px 0px 13px 0px;
  color: white;
  font-size: 30px;
  z-index: 11; }

/* line 126, _layout.scss */
.footer-tab-title {
  color: #24c5d9;
  position: relative;
  font-size: 15px; }
  /* line 130, _layout.scss */
  .footer-tab-title:after {
    position: absolute;
    top: 40px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7b7b7b;
    left: 50%;
    transform: translateX(-50%); }
  /* line 140, _layout.scss */
  .footer-tab-title:before {
    position: absolute;
    z-index: 10;
    top: 40px;
    content: "";
    height: 2px;
    background-color: #24c5d9;
    left: 0%; }

/* line 151, _layout.scss */
.footer-tab-title1:before {
  width: 74%; }

/* line 156, _layout.scss */
.footer-tab-title2:before {
  width: 39%; }

/* line 161, _layout.scss */
.footer-tab-title3:before {
  width: 55%; }

/* line 166, _layout.scss */
.footer-tab-title4:before {
  width: 67%; }

/* line 1, _module.scss */
.navbar {
  margin-bottom: 0;
  position: relative; }
  /* line 4, _module.scss */
  .navbar .nav-link {
    color: #7b7b7b; }
    /* line 6, _module.scss */
    .navbar .nav-link:hover {
      color: #24c5d9; }
  /* line 12, _module.scss */
  .navbar .navbar-nav .notification-fix {
    position: relative; }
  /* line 15, _module.scss */
  .navbar .navbar-nav .notification {
    border: 1px solid #24c5d9;
    background-color: #24c5d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    position: absolute; }

/* line 29, _module.scss */
.topnav .topnav-menu {
  font-size: 10px;
  background-color: #000000;
  border-bottom: 1px solid #7b7b7b; }
/* line 34, _module.scss */
.topnav .nav-link {
  color: #7b7b7b; }
  /* line 36, _module.scss */
  .topnav .nav-link:hover {
    color: #ffffff; }

/** slide **/
/* line 44, _module.scss */
.slide .carousel-inner {
  position: relative; }
/* line 47, _module.scss */
.slide .btn--slide {
  position: absolute;
  bottom: 160px;
  left: 400px; }
/* line 53, _module.scss */
.slide .carousel-indicators li {
  background-color: #7b7b7b; }
/* line 56, _module.scss */
.slide .carousel-indicators .active {
  background-color: #24c5d9; }
/* line 60, _module.scss */
.slide .carousel-control-prev i, .slide .carousel-control-next i {
  border: 1px solid #7b7b7b;
  background-color: #7b7b7b;
  padding: 20px; }

/** SERVICE **/
/* line 68, _module.scss */
#service {
  margin: 20px 0px;
  font-size: 15px; }
  /* line 71, _module.scss */
  #service i {
    font-size: 40px; }
    /* line 73, _module.scss */
    #service i:hover {
      color: #24c5d9; }

/** TOP PRODUCT **/
/* line 81, _module.scss */
#topproduct .img-large {
  position: relative; }
/* line 85, _module.scss */
#topproduct .detail-large {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }
/* line 93, _module.scss */
#topproduct .item {
  position: relative;
  border: 3px solid transparent; }
  /* line 96, _module.scss */
  #topproduct .item:hover {
    border: 3px solid #24c5d9; }
  /* line 100, _module.scss */
  #topproduct .item:hover i {
    display: block; }
  /* line 103, _module.scss */
  #topproduct .item .detail {
    text-align: center;
    margin: 25px 0px; }
    /* line 106, _module.scss */
    #topproduct .item .detail i {
      display: none; }
    /* line 109, _module.scss */
    #topproduct .item .detail p {
      margin-bottom: 10px; }
/* line 116, _module.scss */
#topproduct .ribbon {
  position: absolute;
  top: -6px;
  left: 17px; }
/* line 123, _module.scss */
#topproduct .detail-large .detail-title {
  font-size: 20px;
  font-weight: 900; }
/* line 128, _module.scss */
#topproduct .detail-large .detail-describe {
  color: #7b7b7b; }
  /* line 130, _module.scss */
  #topproduct .detail-large .detail-describe span {
    color: #c1c1c1; }
/* line 134, _module.scss */
#topproduct .detail-large .detail-price {
  color: #24c5d9;
  font-size: 50px; }

/** ADS **/
/* line 144, _module.scss */
#ads {
  margin: 60px; }

/** ALL PRODUCT **/
/* line 150, _module.scss */
#allproduct .allproduct-background {
  background-color: #f7f7f7;
  padding: 41px 0px; }
/* line 154, _module.scss */
#allproduct .detail {
  text-align: center;
  margin: 25px 0px; }
  /* line 157, _module.scss */
  #allproduct .detail i {
    display: none; }
  /* line 160, _module.scss */
  #allproduct .detail p {
    margin-bottom: 10px; }

/** HOT PRODUCT **/
/* line 168, _module.scss */
#hotproduct {
  height: 561px;
  background-color: #99e2fd;
  position: relative; }
  /* line 173, _module.scss */
  #hotproduct p {
    margin-bottom: 0px; }
  /* line 177, _module.scss */
  #hotproduct .hotproduct-detail {
    margin: 60px 0px 30px 0px; }
  /* line 181, _module.scss */
  #hotproduct .hotproduct-img-left, #hotproduct .hotproduct-img-right {
    position: absolute;
    bottom: 0px; }
  /* line 186, _module.scss */
  #hotproduct .hotproduct-img-left {
    left: 400px; }
  /* line 189, _module.scss */
  #hotproduct .hotproduct-img-right {
    right: 400px; }
  /* line 193, _module.scss */
  #hotproduct .grid-date {
    position: absolute;
    top: 0px;
    margin: 178px 0px 59px 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    text-align: center; }
    /* line 202, _module.scss */
    #hotproduct .grid-date b {
      font-size: 30px; }
  /* line 206, _module.scss */
  #hotproduct .date, #hotproduct .minute, #hotproduct .hour, #hotproduct .second {
    border: 1px solid #000000;
    text-align: center; }
  /* line 211, _module.scss */
  #hotproduct .minute, #hotproduct .second, #hotproduct .hour {
    border-left-width: 0px; }

/** OTHER PRODUCT **/
/* line 218, _module.scss */
#otherproduct .otherproduct-item {
  margin-bottom: 27px; }

/** FEEDBACK **/
/* line 224, _module.scss */
#feedback {
  height: 383px;
  background: url("../images/Layer 801.jpg");
  position: relative; }
  /* line 229, _module.scss */
  #feedback .feedback-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #00000070;
    height: 383px;
    width: 100%; }
  /* line 239, _module.scss */
  #feedback .feedback-describe {
    position: absolute;
    font-size: 15px;
    z-index: 11;
    color: white;
    margin: -6px 0px;
    left: 50%;
    transform: translateX(-50%); }
  /* line 250, _module.scss */
  #feedback .feedback-avar {
    border: 2px solid #24c5d9;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    top: 191px; }
  /* line 261, _module.scss */
  #feedback .feedback-name, #feedback .feedback-job {
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%); }
  /* line 268, _module.scss */
  #feedback .feedback-name {
    color: #24c5d9;
    top: 300px;
    font-size: 25px; }
  /* line 274, _module.scss */
  #feedback .feedback-job {
    font-size: 12px;
    color: white;
    top: 340px; }

/** CUSTOMER **/
/* line 282, _module.scss */
#customer {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 32px; }

/** NEWS **/
/* line 288, _module.scss */
#news {
  padding: 30px 0px;
  height: 700px; }
  /* line 291, _module.scss */
  #news .box-news {
    margin: 88px 0px; }
  /* line 294, _module.scss */
  #news .box-layer {
    width: 470px;
    height: 470px;
    background-color: #f2f1f1; }
  /* line 301, _module.scss */
  #news .datebox {
    width: 173px;
    height: 173px;
    background-color: #000000;
    text-align: center; }
    /* line 306, _module.scss */
    #news .datebox .text-blue {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 0px; }
  /* line 313, _module.scss */
  #news .box1, #news .box2 {
    position: relative; }
  /* line 318, _module.scss */
  #news .box1 .box-layer {
    position: absolute;
    top: 0px;
    left: 0px; }
  /* line 324, _module.scss */
  #news .box1 img {
    position: absolute;
    top: 17px;
    left: 17px; }
  /* line 330, _module.scss */
  #news .box1 .datebox {
    position: absolute;
    top: -30px;
    left: -79px; }
  /* line 338, _module.scss */
  #news .box2 .box-layer {
    position: absolute;
    top: 0px;
    left: 0px; }
  /* line 344, _module.scss */
  #news .box2 img {
    position: absolute;
    top: 17px;
    left: 17px; }
  /* line 350, _module.scss */
  #news .box2 .datebox {
    position: absolute;
    top: -30px;
    left: -79px; }

/** NEWSLETTER **/
/* line 359, _module.scss */
#newsletter {
  background-color: #24c5d9;
  height: 122px;
  padding: 40px 0px;
  margin-top: 50px; }
  /* line 364, _module.scss */
  #newsletter .btn-black {
    color: white; }
  /* line 368, _module.scss */
  #newsletter .form-control {
    border-radius: 0px; }
  /* line 372, _module.scss */
  #newsletter .newsletter-title {
    color: white;
    font-size: 30px; }

/** FOOTER **/
/* line 379, _module.scss */
#footer {
  background-color: #000000;
  color: white;
  border-bottom: 1px solid #7b7b7b;
  font-size: 12px; }
  /* line 385, _module.scss */
  #footer .padding-1 {
    padding-top: 40px; }
  /* line 389, _module.scss */
  #footer img {
    margin-bottom: 29px; }
  /* line 392, _module.scss */
  #footer span, #footer a {
    color: #24c5d9;
    text-decoration: none; }
  /* line 397, _module.scss */
  #footer .footer-brand {
    border-right: 1px solid #7b7b7b; }
  /* line 402, _module.scss */
  #footer .footer-tab a {
    color: white; }
    /* line 404, _module.scss */
    #footer .footer-tab a:hover {
      color: #24c5d9; }
  /* line 408, _module.scss */
  #footer .footer-tab .footer-ul {
    padding: 60px 0px;
    line-height: 25px; }

/* line 415, _module.scss */
#copyright {
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 10px 0px; }

/*# sourceMappingURL=style.css.map */
