@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif; }

body * {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%; }

a {
  color: #000000; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  padding: 0;
  list-style: none; }

input {
  outline: none; }

em {
  color: #24c5d9; }

textarea {
  resize: none;
  outline: none; }

#header {
  background: #000000; }

#mainbody {
  margin-top: 91px; }

.full-mainbox {
  position: relative; }

#mainbox-1 {
  padding: 120px 0 160px; }

#mainbox-2 {
  padding: 60px 0 30px; }

.text-blue {
  font-size: 20px;
  color: #24c5d9;
  font-weight: 700; }

.text-black {
  font-size: 20px;
  color: #000000;
  font-weight: 900; }

.text-cross {
  color: #7b7b7b;
  text-decoration: line-through;
  position: relative;
  margin: 0px 7px;
  padding: 0px 7px; }
  .text-cross:before {
    content: "";
    width: 2px;
    height: 13px;
    background-color: #7b7b7b;
    position: absolute;
    top: 0px;
    margin-top: 5px;
    left: 0px;
    transform: rotate(25deg); }

.padding-0 {
  padding: 0px; }

.btn {
  background-color: transparent;
  border: 2px solid #7b7b7b;
  color: #7b7b7b;
  border-radius: 0px;
  transition: 0.4s; }
  .btn:hover {
    color: #7b7b7b;
    background-color: #000000;
    border: 2px solid #000000; }

.btn-black {
  background-color: #000000;
  border: 2px solid #000000; }
  .btn-black:hover {
    background-color: #cecece;
    color: #000000; }

.btn-slide {
  background-color: #cecece;
  border: 2px solid #cecece;
  color: #000000;
  font-size: 12px;
  padding: 13px;
  margin-left: 14px; }
  .btn-slide:hover {
    background-color: transparent; }

.btn-icon {
  color: #7b7b7b;
  border: none; }
  .btn-icon:hover {
    color: #24c5d9;
    border: none;
    background-color: transparent; }
  .btn-icon .btn-icon-l, .btn-icon .btn-icon-r {
    margin-left: -10px; }

.main-title {
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #24c5d9;
  padding-top: 20px; }

.main-title-btn {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #7b7b7b;
  padding-bottom: 20px; }
  .main-title-btn i:hover {
    color: #24c5d9;
    cursor: pointer; }

.main-title-btn-news {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; }

.main-title-otherproduct {
  font-size: 18px;
  color: #000000;
  padding-top: 50px;
  font-weight: 700; }

.main-title-news {
  font-size: 26px;
  color: #000000;
  padding: 15px 0px 15px 0px;
  font-weight: 700; }

.product-btn {
  text-align: center;
  font-size: 10px;
  color: #7b7b7b;
  margin-bottom: -4px; }
  .product-btn a {
    border-bottom: 1px solid transparent;
    padding: 7px 0px;
    line-height: 10px; }
    .product-btn a:hover {
      color: #24c5d9;
      border-bottom: 1px solid #24c5d9;
      padding: 7px 0px; }
  .product-btn i {
    margin: 0px 15px; }

.main-title-hotproduct {
  padding: 77px 0px;
  position: relative;
  color: #000000;
  font-size: 48px;
  font-weight: 200; }

.main-title-feedback {
  padding: 40px 0px 13px 0px;
  color: white;
  font-size: 30px;
  z-index: 11; }

.footer-tab-title {
  color: #24c5d9;
  position: relative;
  font-size: 18px; }
  .footer-tab-title:after {
    position: absolute;
    top: 40px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7b7b7b;
    left: 50%;
    transform: translateX(-50%); }
  .footer-tab-title:before {
    position: absolute;
    z-index: 10;
    top: 40px;
    content: "";
    height: 2px;
    background-color: #24c5d9;
    left: 0%; }

.footer-tab-title1:before {
  width: 74%; }

.footer-tab-title2:before {
  width: 39%; }

.footer-tab-title3:before {
  width: 55%; }

.footer-tab-title4:before {
  width: 67%; }

/** topnav **/
.topnav .topnav-menu {
  font-size: 12px;
  background-color: #000000;
  border-bottom: 1px solid #7b7b7b; }
.topnav .nav-item .nav-link {
  color: #7b7b7b;
  padding: 12px 8px; }
  .topnav .nav-item .nav-link:hover {
    color: #ffffff; }
.topnav .search-icon {
  position: relative; }
  .topnav .search-icon:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: #7b7b7b;
    top: 13px;
    left: -2px; }

/** navbar **/
.navbar {
  margin-bottom: 0;
  padding: 0px 0px; }
  .navbar .nav-link {
    color: #7b7b7b;
    padding-bottom: 8px;
    padding-top: 40px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
    font-size: 14px; }
    .navbar .nav-link:hover {
      color: #24c5d9;
      border-bottom: 2px solid #24c5d9; }
  .navbar .navbar-nav .nav-cart {
    margin-left: 98px; }
  .navbar .navbar-nav .handbag {
    background: url("../images/sprites.png") no-repeat;
    background-position: -108px -9px;
    width: 32px;
    height: 33px;
    position: relative;
    padding-top: 12%; }
    .navbar .navbar-nav .handbag:after {
      content: "0";
      border: 1px solid #24c5d9;
      background-color: #24c5d9;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
      position: absolute;
      top: -13px;
      right: -17px;
      font-size: 12px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px; }

.navbar-hover {
  background-color: #ffffff;
  width: 673px;
  position: absolute;
  z-index: 2000;
  top: 92px;
  left: -200px;
  padding: 40px;
  display: none;
  text-align: left;
  transition: 0.4s; }
  .navbar-hover li {
    list-style-type: none;
    transition: 0.4s; }
    .navbar-hover li:hover {
      list-style-type: square;
      color: #24c5d9;
      transform: translateX(17px); }
    .navbar-hover li a:hover {
      color: #24c5d9; }
  .navbar-hover .navbar-hover-title {
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px; }
  .navbar-hover .navbar-hover-describe {
    padding-top: 15px;
    padding-left: 6px;
    font-size: 13px;
    color: #8e8e8e; }
    .navbar-hover .navbar-hover-describe a {
      margin-left: -3px; }

.nav-item-hover {
  position: relative; }
  .nav-item-hover:hover .navbar-hover {
    display: block;
    transition: 0.4s; }

/** slide **/
.slide .btn-wrapper {
  position: relative; }
  .slide .btn-wrapper .btn--slide {
    position: absolute;
    bottom: 135px;
    left: 10px; }
.slide .carousel-indicators li {
  background-color: #7b7b7b; }
.slide .carousel-indicators .active {
  background-color: #24c5d9; }
.slide .carousel-control-prev i, .slide .carousel-control-next i {
  border: 1px solid #7b7b7b;
  background-color: #7b7b7b;
  padding: 20px; }
.slide .carousel-control-prev, .slide .carousel-control-next {
  color: #24c5d9;
  width: 8%; }

/** SERVICE **/
#service {
  margin: 20px 0px;
  font-size: 15px; }
  #service b {
    font-weight: 600;
    font-size: 14px; }
  #service .service-icon i {
    font-size: 40px;
    color: #a7a7a7; }
    #service .service-icon i:hover {
      color: #24c5d9; }
  #service .users, #service .star, #service .repetiotion, #service .send, #service .users-copy, #service .star-copy, #service .send-copy, #service .repetiotion-copy {
    background: url("../images/service1.png"); }
  #service .repetiotion-copy {
    background-position: 0 0;
    width: 43px;
    height: 48px; }
    #service .repetiotion-copy:hover {
      background-position: -87px 0; }
  #service .send {
    background-position: -169px 0;
    width: 45px;
    height: 46px; }
    #service .send:hover {
      background-position: -252px 0; }
  #service .star {
    background-position: -339px 0;
    width: 43px;
    height: 42px; }
    #service .star:hover {
      background-position: -422px 0; }
  #service .users {
    background-position: -504px 0;
    width: 48px;
    height: 42px; }
    #service .users:hover {
      background-position: -592px 0; }

/** TOP PRODUCT **/
#topproduct .img-large {
  position: relative; }
#topproduct .detail-large {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%); }
#topproduct .item {
  position: relative;
  border: 3px solid transparent;
  cursor: pointer; }
  #topproduct .item .btn-icon {
    display: none; }
  #topproduct .item:hover {
    border: 3px solid #24c5d9; }
    #topproduct .item:hover .btn-icon {
      display: block; }
  #topproduct .item .detail {
    text-align: center;
    margin: 28px 0px; }
    #topproduct .item .detail p {
      margin-bottom: 3px; }
    #topproduct .item .detail .icon-r {
      padding-left: 0px;
      position: relative; }
      #topproduct .item .detail .icon-r .icon-r-compare {
        position: absolute;
        display: none;
        border: 1px solid  #dadada;
        top: -25px;
        left: -15px;
        width: 61px;
        background-color: #dadada;
        font-size: 12px;
        padding: 3px; }
        #topproduct .item .detail .icon-r .icon-r-compare:after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          bottom: -7px;
          left: 25px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid #dadada;
          color: #7b7b7b; }
      #topproduct .item .detail .icon-r:hover .icon-r-compare {
        display: block; }
    #topproduct .item .detail .icon-l {
      padding-left: 27px; }
#topproduct .ribbon {
  position: absolute;
  top: -6px;
  left: 17px; }
#topproduct .detail-large p {
  margin-bottom: 0px; }
#topproduct .detail-large .detail-title {
  font-weight: 400;
  font-size: 47px;
  white-space: nowrap; }
#topproduct .detail-large .detail-describe {
  color: #7b7b7b; }
  #topproduct .detail-large .detail-describe span {
    color: #c1c1c1; }
#topproduct .detail-large .detail-price {
  color: #24c5d9;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 800; }

/** ADS **/
#ads {
  margin: 60px; }

/** ALL PRODUCT **/
#allproduct .allproduct-background {
  background: url("../images/allpro-background.png") repeat;
  padding: 41px 0px; }
#allproduct .detail {
  text-align: center;
  margin: 25px 0px; }
  #allproduct .detail i {
    display: none; }
  #allproduct .detail p {
    margin-bottom: 10px; }

/** HOT PRODUCT **/
#hotproduct {
  height: 561px;
  background-color: #99e2fd;
  position: relative; }
  #hotproduct p {
    margin-bottom: 0px; }
  #hotproduct .hotproduct-detail {
    margin: 60px 0px 30px 0px; }
  #hotproduct .hotproduct-wrap {
    position: relative; }
    #hotproduct .hotproduct-wrap .hotproduct-img-left, #hotproduct .hotproduct-wrap .hotproduct-img-right {
      position: absolute;
      top: -132px; }
  #hotproduct .hotproduct-img-left {
    left: 0px; }
  #hotproduct .hotproduct-img-right {
    right: 0px; }
  #hotproduct .grid-date {
    position: absolute;
    top: 0px;
    margin: 178px 0px 59px 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    text-align: center; }
    #hotproduct .grid-date b {
      font-size: 30px; }
  #hotproduct .date, #hotproduct .minute, #hotproduct .hour, #hotproduct .second {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px 0px; }
  #hotproduct .minute, #hotproduct .second, #hotproduct .hour {
    border-left-width: 0px; }

/** OTHER PRODUCT **/
#otherproduct .otherproduct-item {
  margin-bottom: 27px; }

/** FEEDBACK **/
#feedback {
  height: 383px;
  background: url("../images/Layer 801.jpg");
  position: relative; }
  #feedback .feedback-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #00000070;
    height: 383px;
    width: 100%; }
  #feedback .feedback-describe {
    position: absolute;
    font-size: 15px;
    z-index: 11;
    color: white;
    margin: -6px 0px;
    left: 50%;
    transform: translateX(-50%); }
  #feedback .feedback-avar {
    border: 2px solid #24c5d9;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    top: 191px; }
  #feedback .feedback-name, #feedback .feedback-job {
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%); }
  #feedback .feedback-name {
    color: #24c5d9;
    top: 300px;
    font-size: 25px; }
  #feedback .feedback-job {
    font-size: 12px;
    color: white;
    top: 340px; }

/** CUSTOMER **/
#customer {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 32px; }

/** NEWS **/
#news {
  padding: 30px 0px;
  height: 700px; }
  #news .box-news {
    margin: 88px 0px; }
  #news .box-layer {
    width: 470px;
    height: 470px;
    background-color: #f2f1f1; }
  #news .datebox {
    width: 173px;
    height: 173px;
    background-color: #000000;
    text-align: center; }
    #news .datebox .text-blue {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 0px; }
  #news .box1, #news .box2 {
    position: relative;
    margin-left: 75px; }
  #news .box1 .box-layer {
    position: absolute;
    top: 0px;
    left: 0px; }
  #news .box1 img {
    position: absolute;
    top: 17px;
    left: 17px; }
  #news .box1 .datebox {
    position: absolute;
    top: -30px;
    left: -79px; }
  #news .box2 .box-layer {
    position: absolute;
    top: 0px;
    left: 0px; }
  #news .box2 img {
    position: absolute;
    top: 17px;
    left: 17px; }
  #news .box2 .datebox {
    position: absolute;
    top: -30px;
    left: -79px; }

/** NEWSLETTER **/
#newsletter {
  background-color: #24c5d9;
  height: 122px;
  padding: 40px 0px;
  margin-top: 50px; }
  #newsletter .btn-black {
    color: white; }
  #newsletter .form-control {
    border-radius: 0px; }
  #newsletter .newsletter-wrap {
    color: white;
    font-size: 34px; }
    #newsletter .newsletter-wrap .newsletter-title {
      letter-spacing: 2px; }
    #newsletter .newsletter-wrap .mail {
      background: url("../images/mail.png") no-repeat;
      background-position: -8px -13px;
      width: 35px;
      height: 25px;
      margin-top: 10px; }

/** FOOTER **/
#footer {
  background-color: #000000;
  color: #bcbec0;
  border-bottom: 1px solid #7b7b7b;
  font-size: 14px;
  font-weight: 300; }
  #footer .padding-1 {
    padding-top: 40px; }
  #footer img {
    margin-bottom: 29px; }
  #footer span, #footer a {
    color: #24c5d9;
    text-decoration: none; }
  #footer .phone-Hook, #footer .phone-Hook-2, #footer .fax, #footer .marker-copy, #footer .mail1 {
    background: url("../images/footer-icon.png") no-repeat; }
  #footer .phone-Hook, #footer .phone-Hook-2 {
    background-position: -16px -19px;
    width: 17px;
    height: 16px;
    float: left;
    margin-right: 10px; }
  #footer .phone-Hook:before {
    content: "(04) 6674 2332";
    position: relative;
    top: 0;
    white-space: nowrap;
    padding: 27px; }
  #footer .phone-Hook-2:before {
    content: "(04) 3786 8904";
    position: relative;
    top: 0;
    white-space: nowrap;
    padding: 27px; }
  #footer .fax {
    background-position: -65px -21px;
    width: 16px;
    height: 14px;
    float: left;
    margin-right: 10px;
    position: relative; }
    #footer .fax:before {
      content: "(04) 3786 8904";
      position: relative;
      top: 0;
      white-space: nowrap;
      padding: 27px; }
  #footer .marker-copy {
    background-position: -118px -18px;
    width: 14px;
    height: 18px;
    float: left;
    margin-right: 10px; }
  #footer .mail1 {
    background-position: -166px -22px;
    width: 15px;
    height: 11px;
    float: left;
    margin-right: 10px; }
  #footer .footer-brand {
    border-right: 1px solid #7b7b7b; }
  #footer .footer-info {
    padding-bottom: 30px; }
  #footer .footer-tab li {
    list-style-type: none;
    transition: 0.4s; }
    #footer .footer-tab li:hover {
      list-style-type: square;
      color: #24c5d9;
      transform: translateX(10px); }
  #footer .footer-tab a {
    color: #bcbec0;
    margin-left: -7px; }
    #footer .footer-tab a:hover {
      color: #24c5d9; }
  #footer .footer-tab .footer-ul {
    padding: 60px 7px;
    line-height: 25px; }

#copyright {
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  color: #bcbec0;
  padding: 10px 0px; }

/* Dành cho điện thoại */
/* Dành cho máy tính bảng chiều dọc */
/* Dành cho máy tính bảng chiều ngang */
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
  .container {
    max-width: 1170px; } }

/*# sourceMappingURL=style.css.map */
