body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif; }

body * {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%; }

a {
  color: #000000; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  padding: 0;
  list-style: none; }

input {
  outline: none; }

em {
  color: #24c5d9; }

textarea {
  resize: none;
  outline: none; }

#header {
  background: #000000;
  margin-bottom: -7px; }

#mainbody {
  margin-top: 91px; }

.full-mainbox {
  position: relative; }

#mainbox-1 {
  padding: 120px 0 160px; }

#mainbox-2 {
  padding: 60px 0 30px; }

.text-blue {
  font-size: 20px;
  color: #24c5d9;
  font-weight: 700; }

.text-black {
  font-size: 20px;
  color: #000000;
  font-weight: 900; }

.text-cross {
  color: #7b7b7b;
  text-decoration: line-through;
  position: relative;
  margin: 0px 7px;
  padding: 0px 7px; }
  .text-cross:before {
    content: "";
    width: 2px;
    height: 13px;
    background-color: #7b7b7b;
    position: absolute;
    top: 0px;
    margin-top: 5px;
    left: 0px;
    transform: rotate(25deg); }

.padding-0 {
  padding: 0px; }

.copy-4, .copy-6, .copy-5, .copy-7 {
  background: url("../images/control-btn.png") no-repeat; }

.copy-4 {
  background-position: -23px -18.98828125px;
  width: 8px;
  height: 14px;
  display: inline-block;
  position: relative;
  padding-left: 30px; }
  .copy-4:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 21px;
    background-color: #a7a7a7;
    left: 20px;
    top: -4px; }
  .copy-4:hover {
    background-position: -118px -18.984375px;
    cursor: pointer; }

.copy-7 {
  background-position: -320.99609375px -17.98828125px;
  width: 8px;
  height: 14px;
  display: inline-block; }
  .copy-7:hover {
    background-position: -220.9921875px -17.98828125px;
    cursor: pointer; }

.btn {
  background-color: transparent;
  border: 2px solid #dadada;
  color: #818181;
  border-radius: 0px;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 400; }
  .btn:hover {
    color: white;
    background-color: #24c5d9;
    border: 2px solid #24c5d9; }
  .btn:focus {
    box-shadow: 0 0 0 0 transparent; }

.btn-black {
  background-color: #000000;
  border: 2px solid #000000;
  margin-left: 14px;
  color: #b4b4b4; }
  .btn-black:hover {
    color: white;
    background-color: #24c5d9;
    border: 2px solid #24c5d9; }

.btn-nletter {
  background-color: #000000;
  border: 2px solid #000000;
  color: #b4b4b4; }
  .btn-nletter:hover {
    color: white;
    background-color: #cecece;
    border: 2px solid #cecece;
    color: #000000; }

.btn-slide {
  background-color: #cecece;
  border: 2px solid #cecece;
  color: #000000;
  font-size: 12px;
  padding: 13px;
  margin-left: 14px; }
  .btn-slide:hover {
    color: white;
    background-color: #24c5d9;
    border: 2px solid #24c5d9; }

.btn-icon {
  color: #b4b4b4;
  border: none; }
  .btn-icon:hover {
    color: #24c5d9;
    border: none;
    background-color: transparent; }
  .btn-icon .btn-icon-l, .btn-icon .btn-icon-r {
    margin-left: -10px; }

.main-title {
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #24c5d9;
  padding-top: 20px; }

.main-title-btn {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #7b7b7b;
  padding-bottom: 20px; }

.main-title-btn-news {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; }

.main-title-otherproduct {
  font-size: 18px;
  color: #000000;
  padding-top: 50px;
  font-weight: 700; }

.main-title-news {
  font-size: 26px;
  color: #000000;
  padding: 15px 0px 15px 0px;
  font-weight: 700; }

.product-btn {
  text-align: center;
  font-size: 10px;
  color: #7b7b7b;
  margin-bottom: -4px; }
  .product-btn a {
    border-bottom: 1px solid transparent;
    padding: 7px 0px;
    line-height: 10px; }
    .product-btn a:hover {
      color: #24c5d9;
      border-bottom: 1px solid #24c5d9;
      padding: 7px 0px; }
  .product-btn i {
    margin: 0px 15px; }

.main-title-hotproduct {
  padding: 77px 0px;
  position: relative;
  color: #000000;
  font-size: 48px;
  font-weight: 200; }

.main-title-feedback {
  padding: 50px 0px 13px 0px;
  color: white;
  font-size: 30px;
  z-index: 11; }

.footer-tab-title {
  color: #24c5d9;
  position: relative;
  font-size: 18px;
  padding-top: 20px; }
  .footer-tab-title:after {
    position: absolute;
    top: 65px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #323232;
    left: 50%;
    transform: translateX(-50%); }
  .footer-tab-title:before {
    position: absolute;
    z-index: 10;
    top: 65px;
    content: "";
    height: 2px;
    background-color: #24c5d9;
    left: 0%; }

.footer-tab-title1:before {
  width: 74%; }

.footer-tab-title2:before {
  width: 39%; }

.footer-tab-title3:before {
  width: 55%; }

.footer-tab-title4:before {
  width: 67%; }

/** topnav **/
.topnav .topnav-menu {
  font-size: 12px;
  background-color: #000000;
  border-bottom: 1px solid #7b7b7b; }
.topnav .nav-item .nav-link {
  color: #7b7b7b;
  padding: 10px 8px;
  transition: 0.4s; }
  .topnav .nav-item .nav-link:hover {
    color: #ffffff; }
.topnav input.form-control.form-topnav {
  background-color: transparent;
  border-color: transparent;
  font-size: 12px;
  font-weight: 300;
  border-radius: 0px;
  height: 30px;
  outline: none; }
  .topnav input.form-control.form-topnav:focus {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0 0 transparent; }
.topnav button.btn.btn-search {
  font-size: 14px;
  border-color: transparent;
  position: relative;
  padding: 0px 10px; }
  .topnav button.btn.btn-search:hover {
    background-color: transparent;
    color: white; }
  .topnav button.btn.btn-search:before {
    position: absolute;
    content: " ";
    width: 1px;
    height: 15px;
    background-color: grey;
    left: 3px;
    top: 3px; }

/** topnav-mobile **/
.topnav-mobile {
  font-size: 12px;
  background-color: #000000;
  border-bottom: 1px solid #7b7b7b; }
  .topnav-mobile .nav-item .nav-link {
    color: #7b7b7b; }
  .topnav-mobile #topnavSupportedContent {
    border-top: 1px solid grey;
    padding: 10px 20px; }
  .topnav-mobile input.form-control.form-topnav {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
    font-weight: 300;
    border-radius: 0px;
    height: 30px;
    width: 500px; }
    .topnav-mobile input.form-control.form-topnav:focus {
      background-color: transparent;
      color: white;
      box-shadow: 0 0 0 0 transparent; }
  .topnav-mobile button.btn.btn-search {
    font-size: 14px;
    border-color: transparent;
    position: relative;
    padding: 0px 10px; }
    .topnav-mobile button.btn.btn-search:hover {
      background-color: transparent;
      color: white; }
    .topnav-mobile button.btn.btn-search:before {
      position: absolute;
      content: " ";
      width: 1px;
      height: 15px;
      background-color: grey;
      left: 3px;
      top: 3px; }
  .topnav-mobile .navbar-user {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/2000px-Antu_im-invisible-user.svg.png");
    background-size: 26px; }
  .topnav-mobile .topnav-user {
    padding: 7px 17px; }

/** navbar **/
.navbar {
  margin-bottom: 0;
  padding-top: 33px 0px 0px 0px; }
  .navbar #navbarSupportedContent {
    border-top: 1px solid grey;
    padding: 20px 0px; }
  .navbar .nav-item-cart:hover {
    border-bottom: 2px solid black !important; }
  .navbar .navbar-toggler {
    border-radius: 0;
    background-color: white;
    outline: none; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"); }
    .navbar .navbar-toggler .navbar-toggler-icon-user {
      background-image: url("http://simpleicon.com/wp-content/uploads/user1.png"); }
  .navbar .nav-item {
    border-bottom: 2px solid transparent; }
    .navbar .nav-item:hover {
      border-bottom: 2px solid #24c5d9; }
    .navbar .nav-item a {
      padding: 31px 0px; }
  .navbar .nav-link {
    color: #7b7b7b;
    padding-bottom: 8px;
    padding-top: 40px;
    transition: 0.4s;
    font-size: 14px; }
    .navbar .nav-link:hover {
      color: #24c5d9; }
  .navbar .navbar-nav .nav-cart {
    margin-left: 98px; }
  .navbar .navbar-nav .handbag {
    background: url("../images/sprites.png") no-repeat;
    background-position: -108px -9px;
    width: 32px;
    height: 33px;
    position: relative;
    padding-top: 12%;
    display: inline-block; }
    .navbar .navbar-nav .handbag:after {
      content: "0";
      border: 1px solid #24c5d9;
      background-color: #24c5d9;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
      position: absolute;
      top: -13px;
      right: -17px;
      font-size: 12px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 15px; }

.navbar-hover {
  background-color: #ffffff;
  width: 673px;
  position: absolute;
  z-index: 2000;
  top: 65px;
  left: -200px;
  padding: 40px;
  display: none;
  text-align: left;
  transition: 0.4s;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.75); }
  .navbar-hover li {
    list-style-type: none;
    transition: 0.4s; }
    .navbar-hover li:hover {
      list-style-type: square;
      color: #24c5d9;
      transform: translateX(17px); }
    .navbar-hover li a:hover {
      color: #24c5d9; }
  .navbar-hover .navbar-hover-title {
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px; }
  .navbar-hover .navbar-hover-describe {
    padding-top: 15px;
    padding-left: 6px;
    font-size: 13px;
    color: #8e8e8e; }
    .navbar-hover .navbar-hover-describe a {
      margin-left: -3px;
      padding: 0; }

.nav-item-hover {
  position: relative; }
  .nav-item-hover:hover .navbar-hover {
    display: block;
    transition: 0.4s; }

/** slide **/
.slide .btn-wrapper {
  position: relative; }
  .slide .btn-wrapper .btn--slide {
    position: absolute;
    bottom: 135px;
    left: 0px; }
.slide .carousel-indicators li {
  background-color: #b4b4b4; }
.slide .carousel-indicators .active {
  background-color: #24c5d9; }
.slide .carousel-control-prev, .slide .carousel-control-next {
  width: 8%; }
.slide .carousel-control-prev-icon {
  background: url(../images/slide-icon.png) no-repeat;
  background-position: -151px 0px;
  width: 12px;
  height: 21px;
  border: 1px solid #ededee;
  padding: 25px;
  background-color: #ededee; }
  .slide .carousel-control-prev-icon:hover {
    background-position: -51px -1.000008px;
    background-color: #ffffff;
    border: 1px solid #ededee; }
.slide .carousel-control-next-icon {
  background: url(../images/slide-icon.png) no-repeat;
  background-position: -350px -0.000008px;
  width: 12px;
  height: 21px;
  border: 1px solid #ededee;
  padding: 25px;
  background-color: #ededee; }
  .slide .carousel-control-next-icon:hover {
    background-position: -248px -1.000008px;
    background-color: #ffffff;
    border: 1px solid #ffffff; }

/** SERVICE **/
#service {
  margin: 20px 0px;
  font-size: 15px; }
  #service b {
    font-weight: 600;
    font-size: 14px; }
  #service .service-icon {
    float: left;
    margin-right: 30px; }
    #service .service-icon i {
      font-size: 40px;
      color: #a7a7a7; }
      #service .service-icon i:hover {
        color: #24c5d9; }
  #service .users, #service .star, #service .repetiotion, #service .send, #service .users-copy, #service .star-copy, #service .send-copy, #service .repetiotion-copy {
    background: url("../images/service1.png"); }
  #service .repetiotion-copy {
    background-position: 0 0;
    width: 43px;
    height: 48px;
    display: inline-block; }
    #service .repetiotion-copy:hover {
      background-position: -87px 0; }
  #service .send {
    background-position: -169px 0;
    width: 45px;
    height: 46px;
    display: inline-block; }
    #service .send:hover {
      background-position: -252px 0; }
  #service .star {
    background-position: -339px 0;
    width: 43px;
    height: 42px;
    display: inline-block; }
    #service .star:hover {
      background-position: -422px 0; }
  #service .users {
    background-position: -504px 0;
    width: 48px;
    height: 42px;
    display: inline-block; }
    #service .users:hover {
      background-position: -592px 0; }

/** TOP PRODUCT **/
#topproduct .img-large {
  position: relative; }
#topproduct .detail-large {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%); }
#topproduct .item {
  position: relative;
  border: 3px solid transparent;
  cursor: pointer;
  margin-bottom: -6px; }
  #topproduct .item:hover:before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    border: 3px solid #24c5d9;
    top: 0px;
    left: 0px; }
  #topproduct .item .btn-icon {
    display: none; }
  #topproduct .item:hover .btn-icon {
    display: block; }
  #topproduct .item .detail {
    text-align: center;
    margin: 28px 0px; }
    #topproduct .item .detail p {
      margin-bottom: 3px; }
    #topproduct .item .detail .icon-r {
      padding-left: 0px;
      position: relative; }
      #topproduct .item .detail .icon-r .icon-r-compare {
        position: absolute;
        display: none;
        border: 1px solid  #dadada;
        top: -25px;
        left: -15px;
        width: 61px;
        background-color: #dadada;
        font-size: 12px;
        padding: 3px; }
        #topproduct .item .detail .icon-r .icon-r-compare:after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          bottom: -7px;
          left: 25px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid #dadada;
          color: #7b7b7b; }
      #topproduct .item .detail .icon-r:hover .icon-r-compare {
        display: block; }
    #topproduct .item .detail .icon-l {
      padding-left: 27px; }
#topproduct .ribbon {
  position: absolute;
  top: -6px;
  left: 17px; }
#topproduct .detail-large p {
  margin-bottom: 0px; }
#topproduct .detail-large .detail-title {
  font-weight: 400;
  font-size: 47px;
  white-space: nowrap; }
#topproduct .detail-large .detail-describe {
  color: #7b7b7b; }
  #topproduct .detail-large .detail-describe span {
    color: #c1c1c1; }
#topproduct .detail-large .detail-price {
  color: #24c5d9;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 800; }

/** ADS **/
#ads {
  margin: 60px 0; }

/** ALL PRODUCT **/
#allproduct .allproduct-background {
  background: url("../images/allpro-background.png") repeat;
  padding: 41px 0px; }
#allproduct .detail {
  text-align: center;
  margin: 25px 0px; }
  #allproduct .detail i {
    display: none; }
  #allproduct .detail p {
    margin-bottom: 10px; }

/** HOT PRODUCT **/
#hotproduct {
  height: 561px;
  background-color: #99e2fd;
  position: relative; }
  #hotproduct p {
    margin-bottom: 0px; }
  #hotproduct .hotproduct-detail {
    margin: 60px 0px 30px 0px; }
  #hotproduct .hotproduct-wrap {
    position: relative; }
    #hotproduct .hotproduct-wrap .hotproduct-img-left, #hotproduct .hotproduct-wrap .hotproduct-img-right {
      position: absolute;
      top: -132px; }
  #hotproduct .hotproduct-img-left {
    left: 0px; }
  #hotproduct .hotproduct-img-right {
    right: 0px; }
  #hotproduct .grid-date {
    position: absolute;
    top: 0px;
    margin: 178px 0px 59px 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    text-align: center; }
    #hotproduct .grid-date b {
      font-size: 30px; }
  #hotproduct .date, #hotproduct .minute, #hotproduct .hour, #hotproduct .second {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px 0px; }
  #hotproduct .minute, #hotproduct .second, #hotproduct .hour {
    border-left-width: 0px; }

/** OTHER PRODUCT **/
#otherproduct .otherproduct-item {
  margin-bottom: 27px; }

/** FEEDBACK **/
#feedback {
  height: 383px;
  background: url("../images/Layer 801.jpg");
  position: relative; }
  #feedback .feedback-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #00000070;
    height: 383px;
    width: 100%; }
  #feedback .feedback-describe {
    position: absolute;
    font-size: 14px;
    z-index: 11;
    color: #cdcdcd;
    margin: -6px 0px;
    text-align-last: center;
    left: 50%;
    transform: translateX(-50%); }
  #feedback .feedback-avar {
    border: 2px solid #24c5d9;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    top: 191px; }
  #feedback .feedback-name, #feedback .feedback-job {
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%); }
  #feedback .feedback-name {
    color: #24c5d9;
    top: 291px;
    font-size: 19px; }
  #feedback .feedback-job {
    font-size: 12px;
    color: #cdcdcd;
    top: 318px;
    font-weight: 300;
    font-style: italic; }

/** CUSTOMER **/
#customer {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 23px;
  padding-bottom: 23px; }

/** NEWS **/
#news {
  padding: 30px 0px;
  height: 710px; }
  #news hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #333232;
    width: 44%; }
  #news .box-news {
    margin: 55px 0px; }
  #news .box-layer {
    width: 100%;
    height: 450px;
    background-color: #f2f1f1; }
  #news .datebox {
    width: 173px;
    height: 173px;
    background-color: #000000;
    text-align: center; }
    #news .datebox .text-blue {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 0px;
      margin-top: 20px;
      line-height: 64px; }
  #news .box1 {
    position: relative;
    margin-left: 75px;
    height: 500px; }
    #news .box1 .box-layer {
      position: absolute;
      top: 0px;
      left: -15px; }
    #news .box1 .pic {
      position: absolute;
      top: 17px;
      left: 3px; }
    #news .box1 .datebox {
      position: absolute;
      top: -30px;
      left: -92px; }
  #news .box2 {
    position: relative;
    margin-left: 75px;
    height: 500px; }
    #news .box2 .box-layer {
      position: absolute;
      top: 0px;
      left: 0px; }
    #news .box2 .pic {
      position: absolute;
      top: 17px;
      left: 17px; }
    #news .box2 .datebox {
      position: absolute;
      top: -30px;
      left: -75px;
      z-index: 101; }
    #news .box2 .image-layer {
      position: absolute;
      top: 17px;
      left: 17px;
      width: 370px;
      height: 370px;
      z-index: 100;
      top: 64px;
      left: 61px;
      background-color: #ffffff8a; }
    #news .box2 .news-title {
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      padding-bottom: 20px; }
    #news .box2 .news-describe {
      font-size: 12px;
      padding-top: 20px;
      font-weight: 300;
      text-indent: 20px; }
      #news .box2 .news-describe a {
        font-weight: 300;
        color: #212121; }
    #news .box2 .news-box {
      position: absolute;
      z-index: 101;
      padding: 163px 64px 70px 118px; }

/** NEWSLETTER **/
#newsletter {
  background-color: #24c5d9;
  height: 122px;
  padding: 40px 0px;
  margin-top: 50px; }
  #newsletter .btn-black {
    color: white; }
  #newsletter .form-control {
    border-radius: 0px; }
  #newsletter .newsletter-wrap {
    color: white;
    font-size: 34px; }
    #newsletter .newsletter-wrap .newsletter-title {
      letter-spacing: 2px; }
    #newsletter .newsletter-wrap .mail {
      background: url("../images/mail-feed.png") no-repeat;
      width: 35px;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      margin-right: 20px; }
    #newsletter .newsletter-wrap span .mail {
      margin-right: 10px; }
  #newsletter .newsletter-input {
    margin-top: 5px; }
    #newsletter .newsletter-input input.form-control::placeholder {
      color: #dddddd;
      font-size: 14px;
      font-style: italic;
      font-weight: 300; }

/** FOOTER **/
#footer {
  background-color: #000000;
  color: #bcbec0;
  border-bottom: 1px solid #323232;
  font-size: 14px;
  font-weight: 300; }
  #footer .padding-1 {
    padding-top: 40px; }
  #footer img {
    margin-bottom: 29px; }
  #footer span,
  #footer a {
    color: #24c5d9;
    text-decoration: none; }
  #footer .fax,
  #footer .mail1,
  #footer .marker-copy,
  #footer .phone-Hook {
    background: url("../images/footer-icon.png") no-repeat; }
  #footer .fax {
    background-position: -14px -35px;
    width: 16px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap; }
  #footer .mail1 {
    background-position: -317px -37px;
    width: 15px;
    height: 11px;
    display: inline-block;
    margin-right: 10px; }
  #footer .marker-copy {
    background-position: -218px -33px;
    width: 14px;
    height: 18px;
    display: inline-block;
    margin-right: 10px; }
  #footer .phone-Hook {
    background-position: -115px -32px;
    width: 17px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap; }
  #footer .footer-brand {
    border-right: 1px solid #323232; }
  #footer .footer-info {
    padding-bottom: 30px;
    margin-left: 20px; }
    #footer .footer-info ul li:nth-child(4) {
      font-style: italic; }
    #footer .footer-info li {
      margin-bottom: 20px; }
    #footer .footer-info .footer-span {
      position: relative; }
      #footer .footer-info .footer-span i {
        position: absolute;
        left: -23px;
        top: 4px; }
      #footer .footer-info .footer-span .fax-span {
        position: absolute;
        left: -21px;
        top: 4px; }
  #footer .footer-tab li {
    list-style-type: none;
    transition: 0.4s;
    line-height: 32px; }
    #footer .footer-tab li:hover {
      list-style-type: square;
      color: #24c5d9;
      transform: translateX(10px); }
  #footer .footer-tab a {
    color: #bcbec0;
    margin-left: -7px; }
    #footer .footer-tab a:hover {
      color: #24c5d9; }
  #footer .footer-tab .footer-ul {
    padding: 60px 7px;
    line-height: 25px; }

#copyright {
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  color: #bcbec0;
  padding: 10px 0px; }

@media (min-width: 1200px) {
  .navbar #navbarSupportedContent {
    border-top: none;
    padding-bottom: 0; }
  .navbar .nav-item-cart {
    padding-bottom: 25px; }

  .navbar-collapse-user {
    display: none; }

  .nav-cart-sm {
    display: none; }

  .topnav-mobile {
    display: none; }

  #footer .footer-tab .footer-ul {
    font-size: 13px; } }
.slide .btn-wrapper {
  position: relative; }
  .slide .btn-wrapper .btn--slide {
    position: absolute;
    bottom: 90px;
    left: 0px; }

@media (max-width: 1199px) {
  /** general **/
  .text-blue {
    font-size: 20px; }

  .text-cross {
    margin: 0px 3px;
    font-size: 13px; }
    .text-cross:before {
      margin-top: 4px; }

  /** topnav **/
  .topnav-mobile {
    display: none; }

  /** navbar **/
  .navbar-collapse-user {
    display: none; }

  .navbar #navbarSupportedContent {
    border-top: none;
    padding-bottom: 0; }
  .navbar .nav-item-cart {
    padding-bottom: 25px; }

  .nav-cart-sm {
    display: none; }

  /** slide **/
  .slide .btn-wrapper {
    position: relative; }
    .slide .btn-wrapper .btn--slide {
      position: absolute;
      bottom: 62px;
      left: 0px; }

  /** SERVICE **/
  /** TOP PRODUCT **/
  /** ADS **/
  /** ALL PRODUCT **/
  /** HOT PRODUCT **/
  /** OTHER PRODUCT **/
  /** FEEDBACK **/
  #feedback .main-title-feedback {
    padding: 29px 0px 13px 0px; }
  #feedback .feedback-avar {
    top: 200px; }
  #feedback .feedback-name {
    top: 300px; }
  #feedback .feedback-job {
    top: 330px; }

  /** CUSTOMER **/
  /** NEWS **/
  #news {
    height: none; }
    #news .box-layer {
      width: 100%;
      height: 350px; }
    #news .box2 .news-box {
      padding: 150px 21px 70px 80px; }
    #news .box2 .image-layer {
      width: 80%;
      height: 285px; }
    #news .box2 .news-title {
      font-size: 13px;
      border-bottom: 1px solid black;
      padding-bottom: 8px; }
    #news .box2 .news-describe {
      font-size: 12px;
      padding-top: 8px; }

  /** NEWSLETTER **/
  #newsletter {
    margin-top: 0; }
    #newsletter .form-control {
      font-size: 12px; }
    #newsletter .newsletter-wrap {
      font-size: 25px;
      margin-left: 40px; }
      #newsletter .newsletter-wrap .mail {
        background-size: 90%; }
      #newsletter .newsletter-wrap ul {
        margin-top: 8px; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -45px;
        top: -4px; }

  /** FOOTER **/
  #footer .footer-tab .footer-ul {
    font-size: 11px;
    padding: 35px 7px; }
  #footer .footer-info {
    font-size: 11px; }

  /** FOOTER **/ }
@media (max-width: 991px) {
  /** general **/
  .text-blue {
    font-size: 13px; }

  .text-cross {
    margin: 0px 3px;
    font-size: 10px;
    padding: 0px 5px; }
    .text-cross:before {
      margin-top: 3px;
      height: 8px;
      top: 0; }

  .btn-slide {
    padding: 8px; }

  .btn {
    padding: 4px;
    font-size: 12px; }

  /** topnav **/
  .topnav {
    display: none; }

  .topnav-mobile {
    display: block; }
    .topnav-mobile button.topnav-user {
      background-color: transparent;
      border-color: transparent; }
      .topnav-mobile button.topnav-user:focus {
        box-shadow: 0 0 0 0 transparent;
        outline: none; }

  /** navbar **/
  .navbar-collapse-user {
    display: block; }

  .nav-cart-sm {
    display: block; }

  .nav-cart-lg {
    display: none; }

  .navbar .nav-link {
    text-align: center; }
    .navbar .nav-link i {
      display: none; }
  .navbar .nav-item-cart {
    text-align: center;
    margin-left: 0;
    padding-bottom: 0; }
    .navbar .nav-item-cart .nav-cart {
      margin-left: 0;
      margin-top: 0; }
  .navbar .nav-item:hover {
    border-bottom: 2px solid transparent; }
  .navbar .nav-item-hover:hover .navbar-hover {
    display: none; }

  #topnavSupportedContent input.form-control.form-topnav {
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0px;
    height: 30px; }
    #topnavSupportedContent input.form-control.form-topnav:focus {
      background-color: transparent;
      color: white; }
  #topnavSupportedContent button.btn.btn-search {
    font-size: 14px;
    border-color: transparent;
    position: relative;
    padding: 0px 10px; }
    #topnavSupportedContent button.btn.btn-search:hover {
      background-color: transparent;
      color: white; }
    #topnavSupportedContent button.btn.btn-search:before {
      position: absolute;
      content: " ";
      width: 1px;
      height: 15px;
      background-color: grey;
      left: 3px;
      top: 3px; }

  /** slide **/
  .slide .btn-wrapper .btn--slide {
    bottom: 40px; }

  /** SERVICE **/
  #service b {
    font-size: 10px; }
  #service .service-icon {
    float: left;
    margin-right: 0;
    text-align: left; }
  #service .service-info {
    text-align: left;
    font-size: 13px; }
  #service .repetiotion-copy {
    background-position: 501px 3px;
    width: 38px;
    height: 43px;
    background-size: 500px; }
    #service .repetiotion-copy:hover {
      background-position: -57px 3px;
      width: 38px;
      height: 43px; }
  #service .send {
    background-position: 390px 3px;
    width: 38px;
    height: 43px;
    background-size: 500px; }
    #service .send:hover {
      background-position: -165px 3px; }
  #service .users {
    background-position: 167px 3px;
    width: 38px;
    height: 43px;
    background-size: 500px; }
    #service .users:hover {
      background-position: 109px 3px; }
  #service .star {
    background-position: -223px 3px;
    width: 38px;
    height: 43px;
    background-size: 500px; }
    #service .star:hover {
      background-position: -278px 3px; }

  /** TOP PRODUCT **/
  #topproduct .detail-large {
    bottom: 18%; }
    #topproduct .detail-large .detail-title {
      font-size: 30px; }
    #topproduct .detail-large .detail-price {
      font-size: 25px; }

  /** ADS **/
  /** ALL PRODUCT **/
  /** HOT PRODUCT **/
  #hotproduct .hotproduct-wrap {
    display: none; }

  /** OTHER PRODUCT **/
  /** FEEDBACK **/
  #feedback .main-title-feedback {
    padding: 35px 0px 13px 0px; }
  #feedback .feedback-describe {
    left: 24%;
    text-align: justify;
    transform: translateX(-16%);
    font-size: 14px; }
  #feedback .feedback-avar {
    top: 214px; }
  #feedback .feedback-name {
    top: 310px; }
  #feedback .feedback-job {
    top: 335px; }

  /** CUSTOMER **/
  /** NEWS **/
  #news {
    height: auto; }
    #news .box-news {
      margin-top: 55px;
      margin-bottom: 0; }
    #news .box-layer {
      width: 85%;
      height: 460px; }
    #news .box1 {
      height: 600px;
      margin-left: 125px; }
      #news .box1 .datebox {
        width: 35%;
        height: 28%; }
        #news .box1 .datebox .text-blue {
          font-size: 65px;
          margin-top: 20px; }
        #news .box1 .datebox .text-muted, #news .box1 .datebox .text-white {
          font-size: 15px;
          margin-bottom: 10px; }
    #news .box2 {
      height: 600px;
      margin-left: 125px; }
      #news .box2 .news-box {
        padding: 150px 123px 70px 70px; }
      #news .box2 .image-layer {
        width: 75%;
        height: 342px;
        left: 48px;
        top: 90px; }
      #news .box2 .news-title {
        font-size: 20px;
        border-bottom: 1px solid black;
        padding-bottom: 15px; }
      #news .box2 .news-describe {
        font-size: 15px;
        padding-top: 15px; }
      #news .box2 .datebox {
        width: 35%;
        height: 28%; }
        #news .box2 .datebox .text-blue {
          font-size: 65px;
          margin-top: 20px; }
        #news .box2 .datebox .text-muted, #news .box2 .datebox .text-white {
          font-size: 12px;
          margin-bottom: 0; }

  /** NEWSLETTER **/
  #newsletter {
    margin-top: 0; }
    #newsletter .form-control {
      font-size: 12px; }
    #newsletter .newsletter-wrap {
      font-size: 20px;
      margin-left: 30px; }
      #newsletter .newsletter-wrap .mail {
        background-size: 70%; }
      #newsletter .newsletter-wrap ul {
        margin-top: 8px; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -30px;
        top: -5px; }

  /** FOOTER **/
  #footer .footer-info {
    font-size: 14px; }
  #footer .padding-1 {
    padding-top: 0; }
  #footer .footer-brand {
    border-right: none; }
  #footer img {
    margin-top: 30px; }
  #footer .footer-tab .footer-ul {
    padding-top: 45px;
    padding-bottom: 0px;
    font-size: 14px; }
  #footer .footer-tab-title1:before {
    width: 34%; }
  #footer .footer-tab-title2:before {
    width: 19%; }
  #footer .footer-tab-title3:before {
    width: 26%; }
  #footer .footer-tab-title4:before {
    width: 32%; } }
@media (max-width: 767px) {
  /** general **/
  .main-title-otherproduct {
    font-size: 25px; }

  /** NAVBAR **/
  .navbar .nav-item-cart {
    margin-right: 10px;
    margin-top: 10px; }
  .navbar #navbarSupportedContent {
    border-top: 1px solid #7b7b7b;
    padding: 10px; }

  /** TOPNAV **/
  .topnav-mobile input.form-control.form-topnav {
    width: 165px; }
  .topnav-mobile .topnav-user {
    background-color: transparent;
    border-color: transparent; }

  /** TOP PRODUCT **/
  #topproduct .detail-large {
    bottom: 10%; }
    #topproduct .detail-large .detail-title {
      font-size: 35px; }
    #topproduct .detail-large .detail-price {
      font-size: 25px; }
  #topproduct .item {
    text-align: center; }
    #topproduct .item .ribbon {
      left: 118px; }
    #topproduct .item .detail .icon-l {
      padding-left: 118px; }
    #topproduct .item .detail a {
      font-size: 14px; }

  /** NEWS **/
  #news {
    height: auto; }
    #news .box-layer {
      width: 100%;
      height: 460px; }
    #news .box1 {
      height: 550px;
      margin-left: 10px; }
      #news .box1 .datebox {
        width: 25%;
        height: 95px;
        left: 22px;
        top: 35px; }
        #news .box1 .datebox .text-blue {
          font-size: 35px;
          margin-top: 2px;
          line-height: 50px; }
        #news .box1 .datebox .text-muted, #news .box1 .datebox .text-white {
          font-size: 12px;
          margin-bottom: 0; }
    #news .box2 {
      height: 550px;
      margin-left: 10px; }
      #news .box2 .news-box {
        padding: 162px 72px 60px 58px; }
      #news .box2 .image-layer {
        width: 80%;
        height: 400px;
        top: 50px;
        left: 43px; }
      #news .box2 .pic {
        left: 3px; }
      #news .box2 .box-layer {
        left: -15px; }
      #news .box2 .news-title {
        font-size: 18px;
        border-bottom: 1px solid black;
        padding-bottom: 8px; }
      #news .box2 .news-describe {
        font-size: 14px;
        padding-top: 8px; }
      #news .box2 .datebox {
        width: 25%;
        height: 95px;
        left: 22px;
        top: 35px; }
        #news .box2 .datebox .text-blue {
          font-size: 35px;
          margin-top: 2px;
          line-height: 50px; }
        #news .box2 .datebox .text-muted, #news .box2 .datebox .text-white {
          font-size: 12px;
          margin-bottom: 0; }

  /** NEWSLETTER **/
  #newsletter {
    height: 100px;
    padding: 30px 0px; }
    #newsletter .newsletter-wrap {
      font-size: 16px; }
      #newsletter .newsletter-wrap .mail {
        background-size: 55%; }
    #newsletter .newsletter-span i {
      top: -6px; } }
@media (max-width: 575px) {
  /**general**/
  .main-title-otherproduct {
    font-size: 20px; }

  /** topnav **/
  .topnav-mobile input.form-control.form-topnav {
    width: 165px; }
  .topnav-mobile .topnav-user {
    padding: 7px 33px; }

  /**NAVBAR **/
  .navbar .nav-item-cart {
    margin-right: 10px;
    margin-top: 10px; }

  /** slide **/
  .slide .btn-wrapper {
    position: relative; }
    .slide .btn-wrapper .btn--slide {
      display: none; }
  .slide .carousel-control-prev,
  .slide .carousel-control-next {
    width: 15%; }
  .slide .carousel-control-next-icon {
    background-position: -357px -8.000008px;
    padding: 17px; }
    .slide .carousel-control-next-icon:hover {
      background-position: -255px -9.000008px; }
  .slide .carousel-control-prev-icon {
    background-position: -158px -7px;
    padding: 17px; }
    .slide .carousel-control-prev-icon:hover {
      background-position: -58px -8.000008px; }

  /** SERVICE **/
  /** TOP PRODUCT **/
  #topproduct .detail-large {
    bottom: 10%; }
    #topproduct .detail-large .detail-title {
      font-size: 35px; }
    #topproduct .detail-large .detail-price {
      font-size: 30px; }
  #topproduct .img-large {
    margin-top: 4px; }
  #topproduct .item .ribbon {
    left: 17px; }
  #topproduct .item .detail .icon-l {
    padding-left: 27px; }
  #topproduct .item .detail a {
    font-size: 14px; }

  /** ADS **/
  #ads {
    display: none; }

  /** ALL PRODUCT **/
  /** HOT PRODUCT **/
  #hotproduct .hotproduct-wrap {
    display: none; }
  #hotproduct .grid-date {
    left: 0;
    transform: translateX(0);
    position: unset; }

  /** OTHER PRODUCT **/
  /** FEEDBACK **/
  #feedback .main-title-feedback {
    font-size: 25px;
    padding: 25px 0px 13px 0px; }
  #feedback .feedback-describe {
    left: 0;
    transform: translateX(0);
    padding: 0 10px;
    font-size: 12px; }
  #feedback .feedback-avar {
    top: 200px; }

  /** CUSTOMER **/
  /** NEWS **/
  #news {
    height: auto; }
    #news .box-layer {
      width: 100%;
      height: 350px; }
    #news .box1 {
      height: 470px;
      margin-left: 10px; }
      #news .box1 .box-layer {
        left: -15px;
        height: 340px; }
      #news .box1 .datebox {
        width: 25%;
        height: 95px;
        left: 22px;
        top: 35px; }
        #news .box1 .datebox .text-blue {
          font-size: 35px;
          margin-top: 2px;
          line-height: 50px; }
        #news .box1 .datebox .text-muted, #news .box1 .datebox .text-white {
          font-size: 12px;
          margin-bottom: 0; }
    #news .box2 {
      height: 450px;
      margin-left: 10px; }
      #news .box2 .news-box {
        padding: 147px 45px 64px 57px; }
      #news .box2 .image-layer {
        width: 80%;
        height: 314px;
        top: 50px;
        left: 43px; }
      #news .box2 .pic {
        left: 3px; }
      #news .box2 .box-layer {
        left: -15px;
        height: 348px; }
      #news .box2 .news-title {
        font-size: 14px;
        border-bottom: 1px solid black;
        padding-bottom: 8px; }
      #news .box2 .news-describe {
        font-size: 12px;
        padding-top: 8px; }
      #news .box2 .datebox {
        width: 25%;
        height: 95px;
        left: 22px;
        top: 35px; }
        #news .box2 .datebox .text-blue {
          font-size: 35px;
          margin-top: 2px;
          line-height: 50px; }
        #news .box2 .datebox .text-muted, #news .box2 .datebox .text-white {
          font-size: 12px;
          margin-bottom: 0; }

  /** NEWSLETTER **/
  #newsletter {
    height: 150px;
    padding: 16px 0px;
    margin-top: 0;
    text-align: center; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -30px;
        top: -5px; }
    #newsletter .newsletter-wrap {
      font-size: 20px;
      margin-left: 30px; }
      #newsletter .newsletter-wrap .mail {
        background-size: 70%; }
      #newsletter .newsletter-wrap ul {
        margin-top: 8px; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -30px;
        top: -5px; }

  /** FOOTER **/ }
@media (max-width: 375px) {
  /**NAVBAR **/
  .navbar .nav-item-cart {
    margin-right: 10px;
    margin-top: 10px; }

  /** NEWS **/
  #news .box1 {
    height: 400px; }
    #news .box1 .datebox {
      width: 25%;
      height: 77px;
      left: 22px; }
      #news .box1 .datebox .text-blue {
        font-size: 27px;
        margin-top: 2px;
        line-height: 38px; }
      #news .box1 .datebox .text-muted, #news .box1 .datebox .text-white {
        font-size: 10px; }
  #news .box2 {
    height: 400px; }
    #news .box2 .news-box {
      padding: 123px 30px 64px 40px; }
    #news .box2 .image-layer {
      width: 86%;
      height: 256px;
      top: 50px;
      left: 25px; }
    #news .box2 .news-title {
      font-size: 12px; }
    #news .box2 .news-describe {
      font-size: 10px;
      padding-top: 8px; }
    #news .box2 .datebox {
      width: 25%;
      height: 77px;
      left: 22px; }
      #news .box2 .datebox .text-blue {
        font-size: 27px;
        margin-top: 2px;
        line-height: 38px; }
    #news .box2 .text-muted, #news .box2 .text-white {
      font-size: 10px; }

  #topproduct .detail-large {
    bottom: 8%; }
    #topproduct .detail-large .detail-title {
      font-size: 35px; }
    #topproduct .detail-large .detail-price {
      font-size: 25px; }
  #topproduct .detail a {
    font-size: 14px; } }
@media (max-width: 320px) {
  /**general**/
  .btn-black {
    margin: 0 7px;
    font-size: 11px; }

  .main-title,
  .main-title-hotproduct {
    font-size: 32px; }

  .main-title {
    font-size: 25px; }

  .main-title.main-title-otherproduct {
    font-size: 15px; }

  .btn {
    padding: 4px;
    font-size: 11px; }

  /** topnav **/
  .topnav-mobile .topnav-user {
    padding: 7px 22px; }

  /**NAVBAR **/
  .navbar .navbar-toggler {
    padding: 0 0; }
  .navbar .nav-item-cart {
    margin-right: 10px;
    margin-top: 10px; }

  /**FEEDBACK**/
  #feedback .feedback-avar {
    top: 215px; }

  /**TOP PRODUCT**/
  #topproduct .detail-large {
    bottom: 8%; }
    #topproduct .detail-large .detail-title {
      font-size: 30px; }
    #topproduct .detail-large .detail-price {
      font-size: 20px; }
  #topproduct .detail a {
    font-size: 14px; }

  /**Newsletter**/
  #newsletter {
    height: 150px;
    padding: 16px 0px;
    margin-top: 0;
    text-align: center; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -30px;
        top: -5px; }
    #newsletter .newsletter-wrap {
      font-size: 19px;
      margin-left: 30px; }
      #newsletter .newsletter-wrap .mail {
        background-size: 70%; }
      #newsletter .newsletter-wrap ul {
        margin-top: 8px; }
    #newsletter .newsletter-span {
      position: relative; }
      #newsletter .newsletter-span i {
        position: absolute;
        left: -30px;
        top: -5px; }

  /** NEWS **/
  #news .box1 {
    height: 350px; }
    #news .box1 .box-layer {
      height: 250px; }
    #news .box1 .datebox {
      width: 25%;
      height: 77px;
      left: -14px;
      top: 0px; }
      #news .box1 .datebox .text-blue {
        font-size: 27px;
        margin-top: 2px;
        line-height: 38px; }
      #news .box1 .datebox .text-muted, #news .box1 .datebox .text-white {
        font-size: 10px; }
  #news .box2 {
    height: 300px; }
    #news .box2 .box-layer {
      height: 250px; }
    #news .box2 .news-box {
      padding: 79px 11px 64px 36px; }
    #news .box2 .image-layer {
      width: 90%;
      height: 206px;
      top: 50px;
      left: 25px; }
    #news .box2 .news-title {
      font-size: 12px; }
    #news .box2 .news-describe {
      font-size: 10px;
      padding-top: 8px; }
    #news .box2 .datebox {
      width: 25%;
      height: 77px;
      left: -14px;
      top: 0px; }
      #news .box2 .datebox .text-blue {
        font-size: 27px;
        margin-top: 2px;
        line-height: 38px; }
      #news .box2 .datebox .text-muted, #news .box2 .datebox .text-white {
        font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
